%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ColdNoses
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    %section.banner{:role => "banner"}
      %nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{:href => "#"} Gallery
              %li
                %a{:href => "#"} Register
              %li
                %a{:href => "#"} Information
              %li
                %a{:href => "#"} READ Team
              %li
                %a{:href => "#"} Contact
      .container
        .banner-text.text-center
          %h1 Cold Noses,
          %h2 Warm Hearts
          %button.btn.btn-warning Join Us
    = yield
