%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ColdNoses
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    - if current_page?(root_url)
      %section.banner{:role => "banner"}
        .banner-text.text-center
          %h1 Cold Noses,
          %h2 Warm Hearts
          %button.btn.btn-warning Join Us
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "Home", root_url
            %li
              %a{:href => "#"} Gallery
            %li
              %a{:href => "#"} Events
            %li
              %a{:href => "#"} Puppy Profiles
            - if user_signed_in?
              %li
                = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
            - else
              %li
                = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
              %li
                = link_to "Login", new_user_session_path, :class => 'navbar-link'
    #container.main
      = yield
